.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    text-transform: capitalize;
    background-color:#f8c761;
    color: black;
    font-size: 18px;
}